.footer-wrapper {
    background-color: darkred;
    padding: 15px;
    display: flex;
    justify-content: center;
    border: solid black;
    text-shadow: black 2px 2px 2px;
    width: 100%;
    overflow-x: hidden;
}

.footer {
    color: gold;
    font-size: 16px;
    text-align: center;
}

.footer button {
    background-color: black;
    color: gold;
    cursor: pointer;
    border: solid gold;
    padding: 10px;
}
