.header-wrapper {
    background-color: darkred;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.header {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: gold;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: white;
    transform: scale(1.3);
}
