body {
    background-color: gold;
    margin: 0;
    font-family: Arial, sans-serif;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
    padding: 30px;
}

.hero-img img {
    width: 100%;
    height: 50%;
    margin: -10px;
}

.content h1 {
    font-size: 36px;
    color: darkred;
}

.content p {
    font-size: 20px;
    color: black;
}

.features {
    text-align: left;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.features h2 {
    color: darkred;
    text-align: center;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: darkred;
    color: gold;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: red;
    transform: scale(1.3);
}
